body {
  font-family: 'Poppins', sans-serif;
}


/* Style the header with a grey background and some padding */

.header {
  overflow: hidden;
  padding: 20px 20px;
  float: inline-start;
  outline: 1px solid red;
}

/* Style the header links */
.header a {
  float: left;
  color: #2B2B2B;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  outline: 1px solid red;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  outline: 1px solid red;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: none;
  color: darkgrey;
}

/* Style the active/current link*/
.header a.active {
  background-color: none;
  color: lightslategray;
}

/* Float the link section to the right */
.header-right {
  height: 50%;
  float: right;
}

.hero-image {
  display: flex;
  align-items: flex-start;
  outline: 1px solid red;
}


/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: lightgrey;
  outline: 1px solid red;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
  outline: 1px solid red;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
  outline: 1px solid red;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
  outline: 1px solid red;
}

/*About section*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  outline: 1px solid red;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* Hero Image */
body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/image-hero-01-01.png");

/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
outline: 1px solid red;
}

/*Branded Buttons*/
.button-light {
  transform: scale(0.5);
}


/* Highlighted Work */
.about-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  outline: 1px solid red;
}

.mission-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  outline: 1px solid red;
}
.description-row {
  margin-top: 80px;
  outline: 1px solid red;
}

.process-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  outline: 1px solid red;
}


h4 {
  color: #2B2B2B;
  outline: 1px solid red;
}



#column {
  margin: 0px 5px;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "column1"
  "column2"
  "heading-row"
  "description-row"
  "process-research-row"
  "process-ideation-row"
  "process-execution-row"
  ;
}



.column {
  flex: 50%;
  outline: 1px solid red;
}
.column1 {
  float: left;
  width: 50%;
  padding: 20px;
  color: #2B2B2B;
  outline: 1px solid red;
}
.column2 {
  float: right;
  padding: 20px;
  padding-left: 50px;
  content: "";
  display: table;
  clear: both;
  color: #2B2B2B;
  outline: 1px solid red;
}
.column3 {
  float: right;
  padding: 20px;
  padding-left: 50px;
  content: "";
  display: table;
  clear: both;
  color: #2B2B2B;
  outline: 1px solid red;
}
.heading-row {
  float: left;
  width: 100%;
  padding: 20px;
  color: #2B2B2B;
  outline: 1px solid red;
}

.process-research-row {
  float: inline-end;
  padding: 20px;
  padding-left: 50px;
  content: "";
  display: table;
  clear: both;
  color: #2B2B2B;
  outline: 1px solid red;
}
.process-ideation-row {
  float: inline-end;
  padding: 20px;
  padding-left: 50px;
  content: "";
  display: table;
  clear: both;
  color: #2B2B2B;
  outline: 1px solid red;
}
.process-execution-row {
  float: inline-end;
  padding: 20px;
  padding-left: 50px;
  content: "";
  display: table;
  clear: both;
  color: #2B2B2B;
  outline: 1px solid red;
}






/* Slideshow */
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  outline: 1px solid red;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #71717100;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .text {font-size: 12px}
}








/* Footer */
.Footer_outer{
  margin-top: 50px;
  align-content: center;
  width: 980px;
  border: 1px solid;
  color: #2B2B2B;
  outline: 1px solid red;
  }
  
  .Footer_inner_left{
  margin-top: 20px;
  padding-top: 50px;
  padding-left: 50px;
  width: 30%;
  Float: left;
  display:inline;
  color: #2B2B2B;
  outline: 1px solid red;
  }
  
  .Footer_inner_right{
  padding-top: 125px;
  width: 49%;
  Float: right;
  display:inline;
  color: #2B2B2B;
  outline: 1px solid red;
  }